<ion-header class="ion-no-border">

  <ion-toolbar>

   

  </ion-toolbar>

</ion-header>



<ion-content>

  <ion-card class="ion-no-margin">

    <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">    -->

    <ion-card-header>

      <ion-img src="assets/images/water.png" width="5" height="5"></ion-img>

      <ion-card-title>

         Bienvenido a <br> Flow Water Tech

      </ion-card-title>

      <ion-card-subtitle>

        TE ENCUENTRAS A UN PASO DE <br> AHORRAR AGUA.

      </ion-card-subtitle>

      </ion-card-header>

        <br>

      <ion-card-content>

        <div class="signin-btns">

            <ion-button size="full" fill="solid" shape="round" class="loginbtn">

             ENTRAR

            </ion-button>

            

            <ion-button size="full" fill="outline" shape="round" color="#F0F4FA">REGISTRARSE</ion-button>

          </div>




          

      </ion-card-content>

     



  </ion-card>



</ion-content>